@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-background text-white antialiased;
  }
  
  * {
    @apply box-border;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

